*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box{
    border: solid black 3px;
    background-color: darkgray;
    width: 600px;
    margin: 15px auto 0;
}
.run{
    height: 50px;
    width: 50px;
    background-color: red;
    border: dotted 2px blue;
    animation: run 5s infinite;
}
.stopRun{
    animation-play-state: paused;
    background-color: lawngreen;
    border-radius: 50%;
}
button{
    background-color: black;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border-radius: 15px;
    display: block;
    margin: 15px auto;
    padding: 5px 5px;
}
@keyframes run {
    50% {transform: translate(545px);}
    100% {transform: translate(0px);}
}
